.container {
    display: flex;
    justify-content: center;
    align-items: center;
    height: 100vh;
}

.menu-label {
    cursor: pointer;
    margin: 10px;
    padding: 5px 10px;
    background-color: #0070f3;
    color: white;
    border-radius: 5px;
}

.menu-label:hover {
    background-color: #0054a6;
}

.menu {
    display: none;
    border: 1px solid #ccc;
    padding: 20px;
    width: 300px;
    position: absolute;
    top: 0;
    bottom: 0;
}

#show-right-menu:checked + .menu-right {
    display: block;
}

#show-left-menu:checked + .menu-left {
    display: block;
}

.menu-right {
    right: 0;
}

.menu-left {
    left: 0;
}
